@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web';
}
#main-container{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    background-color: rgba(139, 131, 131, 0.3);
}

.short-container{
   
    height:auto;
    width:auto;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.short-container img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.short-container .Delete{
    font-weight: 600;
    font-size: 24px;
    border: none;
}
.short-container .p-tag{
    margin-top: 10px;
    color: #2DA5FC;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.buttons .cancel{
    margin-top: 15px;
    padding:4% 12%;
    background-color: #2DA5FC;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

}
.short-container .ok{
    margin-top: 15px;
    padding:4% 12%;
    /* background-color: #2DA5FC; */
    color:black;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}