@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web';
}
#main-container{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    background-color: rgba(22, 22, 22, 0.5);
    text-align: center;
}

.short-container{
   
    height:280px;
    width:280px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.short-container .img{
    width:280px;
    height: 280px;
}
