@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.upperCornerCircle {
    width: 14%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.upperCornerCircle img {
    width: 100%;
}

.lowerCornerCircle {
    width: 12.5%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}



/* main content css  */
.main {
    background-color: #cef3ff4b;
    width: 80%;
    align-self: center;
    height: 80%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.leftContainer {
    position: relative;
}

.leftContainer img {
    width: 30%;
    position: absolute;
    bottom: 5%;
    left: 7%;
}

.rightContainer {
    position: relative;
}

.rightContainer img {
    width: 30%;
    position: absolute;
    right: 7%;
    top: 5%;
}

.middleContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}


.para {
    margin-bottom: 15%;
    font-size: 12px;
    opacity: 0.6;
}

.logo {
    color: #7D8CC4;
    margin-bottom: 5%;
}


.loginForm input {
    box-sizing: border-box;
    margin-bottom: 6%;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    width: 95%;
    padding: 9px;
    padding-left: 10px;
    font-size: 10px;
}

.middleContainer .loginForm button {
    background-color: #7D8CC4;
    width: 95%;
    border: 1px solid #E2E2E2;
    padding: 9px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-top: 0%;
    font-size: 10px;
}

.sign-up {
    background-color: inherit;
    border: none;
    margin-top: 5%;
    font-size: 12px;
    color: #7D8CC4;
}

.tableHeading table th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}